<h2>My Heros</h2>
<ul class="heros">
    <li *ngFor="let hero of heros" 
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
        <span class="badge">{{hero.id}} </span>{{hero.name}}
    </li>
</ul>

<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase }} Details</h2>
    <div><span>id: </span> {{selectedHero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name" />
        </label>
    </div>
</div>

<!--//////////////    NG FOR - LOOP/ITERATION   /////////////////////////-->
<!-- *ngFor is Angular's repeater directive. It repeats the host element for each element in a list. -->

<!--//////////////////////////////////////////////////////////////////////-->

<!--//////////////    NG IF - PROTECTS THE PAGE BREAKING   ///////////////-->
<!-- When the app starts, the selectedHero is undefined by design.
Binding expressions like {{selectedHero.name}}—must fail because there is no selected hero.
MUST hide empty details with *ngIf - component should only display the selected hero details if the selectedHero exists. -->

<!--//////////////////////////////////////////////////////////////////////-->

<!--//////////////    CONDITIONAL STYLES   ///////////////////////////////-->
<!-- The Angular class binding makes it easy to add and remove a CSS class conditionally. 
    Just add [class.some-css-class]="some-condition" to the element you want to style. -->

<!--//////////////////////////////////////////////////////////////////////-->

<!--//////////////    NGMODEL - BANNANA IN A BOX   ///////////////////////-->
<!-- ngModel, 2 way binding syntax banana in a box syntax   -->
<!-- displays the name
updates the property as the user types
data flows from component class out to the screen & back to the class  -->
<!-- !!!ngModel belongs to the optional FormsModule and you must opt-in to using it. -->
<!-- <label>name:<input [(ngModel)]="hero.name" placeholder="name" /></label> -->


<!-- Pipes Provided by Angular
CurrencyPipe
DatePipe
DecimalPipe
JsonPipe
LowerCasePipe
UpperCasePipe
PercentPipe
SlicePipe
AsyncPipe -->