<h2>My Heros</h2>
<ul class="heros">
    <li *ngFor="let hero of heros" (click)="onSelect(hero)">
        <!-- Angular's event binding syntax.(click)="onSelect(hero)" -->
        <span class="badge">{{hero.id}} </span>{{hero.name}}
    </li>
</ul>

<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase }} Details</h2>
    <div><span>id: </span> {{selectedHero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name" />
        </label>
    </div>
</div>

<!--//////////////    NG FOR - LOOP/ITERATION   /////////////////////////-->
<!-- *ngFor is Angular's repeater directive. It repeats the host element for each element in a list. -->



<!--//////////////    NGMODEL - BANNANA IN A BOX   /////////////////////////-->
<!-- ngModel, 2 way binding syntax banana in a box syntax   -->
<!-- displays the name
updates the property as the user types
data flows from component class out to the screen & back to the class  -->
<!-- !!!ngModel belongs to the optional FormsModule and you must opt-in to using it. -->
<!-- <label>name:<input [(ngModel)]="hero.name" placeholder="name" /></label> -->


<!-- Pipes Provided by Angular
CurrencyPipe
DatePipe
DecimalPipe
JsonPipe
LowerCasePipe
UpperCasePipe
PercentPipe
SlicePipe
AsyncPipe -->